.userbox {
  margin-top: 50px;
  border-radius: 20px;
  background: linear-gradient(315deg, #051720, #051b25);
  box-shadow: -23px -23px 46px #082636, 23px 23px 46px #082636;
  height: 500px;
}
.takemebackbtn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .teamimgbox {
    width: 100px;
    margin-right: 0px;
  }
}
