.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--offwhite);
  background-color: #1c293e;
  border-radius: 10px;
  margin-bottom: 30px;
}
.subtitles {
  font-family: "Fjalla One", sans-serif;
}
.mychallengestitle {
  text-align: center;
  color: var(--offwhite);
  margin-bottom: 10px;
  font-size: 30px;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.filterbtns {
  margin-bottom: 30px;
  border: none;
  background-color: var(--offwhite);
  color: var(--navyblue);
  font-weight: 500;
  transition: 0.3s;
}
.filterbtns:hover {
  background-color: #b3b3b3;
  transition: 0.3s;
}
.yesterdaych {
  padding: 4px 25px 4px 25px;
  border-radius: 24px 0px 0px 24px;
}
.todaych {
  padding: 4px 25px 4px 25px;
}
.allch {
  padding: 4px 25px 4px 25px;
  border-radius: 0px 24px 24px 0px;
}
.yesterdaych:focus {
  background-color: #b3b3b3;
}
.todaych:focus {
  background-color: #b3b3b3;
}
.allch:focus {
  background-color: #b3b3b3;
}

.challenges {
  margin-top: 50px;
}
.challengesbox {
  height: 100vh;
  overflow: scroll;
}
.challengecard {
  display: flex;
  align-items: center;
  background-color: var(--offwhite);
  /* min-height: 100px; */
  margin-bottom: 60px;
  border-radius: 12px 10px 10px 12px;
}
.challengedate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
  background-color: #1c293e;
  min-height: 100px;
  /* width: 100%; */
  border-radius: 10px 0px 0px 10px;
  color: var(--offwhite);
  padding: 0px;
}
.h2hdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 100px;
}
.matchup {
  font-weight: 800;
  margin: 0px 15px 0px 20px;
  text-decoration: underline;
}
.result {
  margin-left: 15px;
  font-weight: 800;
  text-decoration: underline;
}
.winner {
  margin-left: 20px;
}
.findanopponentsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nochallenges {
  text-align: center;
  color: var(--offwhite);
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
.findopponentbtn {
  padding: 4px 52px;
  border: none;
  background-color: var(--offwhite);
  color: var(--navyblue);
  font-weight: 500;
  transition: 0.3s;
  border-radius: 24px;
}
.findopponentbtn:hover {
  background-color: #b3b3b3;
  transition: 0.3s;
}
.findanopponent {
  margin-bottom: 10px;
}
.userlistbtn {
  display: flex;
  align-items: center;
}
.avatarboxh2h {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: fill;
  border: 0.5px solid var(--navyblue);
  margin-right: 3px;
}
.cip {
  font-weight: 700;
  font-style: italic;
}

.userplusavatarplusscore {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .challengecard {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    width: 100%;
  }
  .challengedate {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
  }
  .side3 {
    width: 100%;
  }
  /*
  .resultcontentbox {
    display: flex;
    justify-content: space-around;
  }
  */
  .h2hdetails {
    display: flex;
    text-align: center;
    /* justify-content: center; */
  }
  .result {
    display: flex;
    text-align: center;
  }
  /*
  .userplusavatarplusscore {
    display: flex;
    align-items: center;
  }
  .challengedate {
    text-align: center;
  }
  .matchup {
    text-align: center;
  }
  .result {
    text-align: center;
  } */
}
@media (max-width: 520px) {
  /* .matchup {
    margin: 0px;
    font-size: 13px;
  }
  .result {
    margin: 0px;
    font-size: 13px;
  }
  .resultcontentbox {
    justify-content: center;
  }
  .h2hdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */
}
