.mainloginscreen {
  margin-top: 100px;
}
.mainloginscreenregister {
  margin-top: 10px;
}
.loginbox {
  background-color: var(--offwhite);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 3px 2px var(--mainorange);
}
.registerbar {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.registersubmitbtn {
  padding: 4px 52px;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--navyblue);
  color: var(--offwhite);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.registersubmitbtn:hover {
  background-color: #123548;
  transition: 0.3s;
}
.registergobackbtn {
  padding: 4px 52px;
  margin-left: 30px;
  border: none;
  border-radius: 24px;
  background-color: var(--navyblue);
  color: var(--offwhite);
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  transition: 0.3s;
}
.registergobackbtn:hover {
  background-color: #123548;
  transition: 0.3s;
}
.twitterloginbox {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 8px;
  margin-top: 5px;
  padding: 5px 0px;
  width: 100%;
  color: var(--bs-link-color);
}

@media (max-width: 768px) {
  .registergobackbtn {
    padding: 4px 26px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .text-muted {
    font-size: 12px;
    color: rgb(149, 149, 149);
  }
}
