.mainheader {
  position: relative;
}
.curvehead {
  height: 100px;
  /* here */
  background-color: #30618c;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-style: groove;
  /* here */
  border: 3px solid #20425f;
  border-top: none;
  top: 0;
  z-index: 20;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.headertitle {
  margin-bottom: 0px;
  font-family: "Bowlby One SC", cursive;
  font-size: 80px;
  text-shadow: 5px 5px 2px var(--navyblue);
  color: rgb(236, 236, 236);
  z-index: 20;
}
.courtlogo {
  position: absolute;
  z-index: 50;
  width: 150px;
  right: 18%;
  top: -75%;
  opacity: 0.8;
}
.circle {
  border: 3px solid #05192357;
  border-radius: 50%;
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 10;
  margin-bottom: 10px;
  /* here */
  background-color: #25374f;
}
.navheader {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--navyblue);
  margin: 30px 0px 60px 0px;
}
.navbtn {
  background-color: var(--navyblue);
  border: none;
  border-bottom: 3px solid var(--navyblue);
  padding: 6px 80px 3px 80px;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  color: #fff;
}
.navbtnactive {
  background-color: var(--navyblue);
  border: none;
  border-bottom: 3px solid var(--navyblue);
  padding: 6px 80px 3px 80px;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  border-bottom: 3px solid #30618c;
  color: #fff;
}
.navbtn:hover {
  /* background-color: #5f899e2a; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid #30618c;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-in-out;
}
.navbtn:focus {
  border-bottom: 3px solid #30618c;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-in-out;
  outline: 0;
}

.offcanvasopenbtnleft {
  position: sticky;
  top: 0;
  background-color: var(--navyblue);
  border: none;
  color: #fff;
  display: flex;
  font-size: 40px;
  padding: 20px 0px 10px 20px;
}
.offcanvasopenbtnright {
  position: sticky;
  top: 0;
  background-color: var(--navyblue);
  border: none;
  color: #fff;
  display: flex;
  font-size: 40px;
  padding: 20px 20px 10px 0px;
}
.mobilemenu {
  visibility: hidden;
}
.lefthand {
  display: none;
}
.righthand {
  display: none;
}
.offcanvasheader {
  background-color: var(--navyblue);
  width: 100%;
}
.offcanvas-header {
  border: none !important;
}

.offcanvas-md {
  --bs-offcanvas-width: 300px;
}
@media (max-width: 1160px) {
  .navbtn {
    padding: 6px 40px 3px 40px;
  }
}
@media (max-width: 1080px) {
  .courtlogo {
    display: none;
  }
}
@media (max-width: 768px) {
  .offcanvasbody {
    background-color: var(--navyblue);
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navlink {
    display: flex;
    justify-content: center;
  }
  .righthand {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--navyblue);
    z-index: 50;
  }
  .lefthand {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--navyblue);
    z-index: 50;
  }
  .navbtn {
    font-size: 40px;
  }
  .navbtnactive {
    background-color: var(--navyblue);
    border: none;
    border-bottom: 3px solid var(--navyblue);
    padding: 6px 60px 3px 60px;
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
    color: #fff;
  }
  .offcanvasbody :nth-child(1) {
    order: 4;
  }
  .offcanvasbody :nth-child(2) {
    order: 2;
  }
  .offcanvasbody :nth-child(3) {
    order: 1;
  }
  .offcanvasbody :nth-child(4) {
    order: 3;
  }
  .offcanvasbody :nth-child(5) {
    order: 5;
    padding-bottom: 30px;
  }
  .circle {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
  }
  .headertitle {
    font-size: 70px;
    margin-bottom: 5px;
    font-stretch: expanded;
  }
  .mobilemenu {
    visibility: visible;
  }
}

@media (max-width: 400px) {
  .headertitle {
    font-size: 65px;
    font-stretch: expanded;
  }
  .circle {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
  }
}
