.mainheader {
  position: relative;
}
.curvehead {
  height: 100px;
  background-color: #dc5a32;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-style: groove;
  border: 3px solid #bd4a27;
  top: 0;
  z-index: 20;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.headertitle {
  margin-bottom: 0px;
  font-family: "Bowlby One SC", cursive;
  font-size: 80px;
  text-shadow: 5px 5px 2px var(--navyblue);
  color: rgb(236, 236, 236);
  z-index: 20;
}
.circle {
  border: 3px solid #05192357;
  border-radius: 50%;
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 10;
  margin-bottom: 10px;
  background-color: #af492a;
}
.navheader {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--navyblue);
  margin: 30px 0px;
}
.navbtn {
  background-color: var(--navyblue);
  border: none;
  padding: 6px 80px 3px 80px;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}
.navbtn:hover {
  background-color: #5f899e2a;
  /* border-bottom: 3px solid #dc5a32; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbtn:focus {
  border-bottom: 3px solid #dc5a32;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
