.expired-notice {
  text-align: center;
  padding: 0px;
  border-radius: 0.25rem;
  margin: 0.5rem;
  top: 0%;
  position: absolute;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dc5a32;
  text-shadow: 0.3px 0.3px 0.8px black;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.75rem;
  padding: 3px;
  text-decoration: none;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0px 0.65rem 0 0.65rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: var(--);
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 1.5rem;
}
.carddiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  align-items: center;
  font-family: "Bebas Neue";
  font-size: 20px;
  width: 100%;
  height: 105px;
  background-color: var(--navyblue);
  z-index: 30;
  position: sticky;
  top: 5%;
}
