.mainleaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  /* background: linear-gradient(315deg, #051720, #051b25); */
  box-shadow: -10px -15px 50px #082636, 10px 15px 50px #082636;
  margin-bottom: 50px;
}
.leaderboardtitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.leaderboardh2 {
  text-align: center;
  font-size: 50px;
  color: var(--offwhite);
}
.leaderboardh3 {
  text-align: center;
  font-size: 16px;
  color: var(--offwhite);
}
.table {
  /* margin-top: 50px; */
  background-color: #0f2b39;
  color: var(--offwhite);
}
.table-body {
}
.a {
  text-align: center;
  color: rgb(150, 157, 171);
}
.b {
  color: var(--offwhite);
}
.rank {
  background-color: #051720;
}
.headers {
  color: red;
}
.tr:nth-child(odd) {
  background-color: var(--navyblue);
}
.table2 {
  background-color: var(--offwhite);
  width: 100%;
}
.linktoprofile {
  text-decoration: none;
  color: rgb(163, 190, 241);
}
.linktoprofile:hover {
  color: rgb(91, 126, 192);
}
@media (max-width: 768px) {
  .mainleaderboard {
    box-shadow: 0px 0px 0px #082636, 0px 0px 0px #082636;
  }
  .a {
    font-size: 12px;
    font-weight: 700;
  }
}
