.mainleaderboard {
  color: var(--offwhite);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.table {
  background-color: var(--offwhite);
  border-radius: 10px;
}
.table-body {
  border-radius: 10px;
}
.a {
  text-align: center;
}
.tr:nth-child(odd) {
  background-color: rgb(188, 188, 188);
}
.table2 {
  background-color: var(--offwhite);
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 768px) {
  .mainleaderboard {
    margin-top: 30px;
    padding: 10px;
  }
  .a {
    font-size: 12px;
    font-weight: 700;
  }
}
