.mainleaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -10px -15px 50px #082636, 10px 15px 50px #082636;
  margin-bottom: 50px;
}
.leaderboardtitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.leaderboardh2 {
  text-align: center;
  font-size: 50px;
  color: var(--offwhite);
  margin: 0px;
}
.leaderboardh3 {
  text-align: center;
  font-size: 12px;
  color: var(--offwhite);
  margin-bottom: 14px;
}
.leaderboardh4 {
  text-align: center;
  font-size: 15px;
  color: var(--offwhite);
  margin-bottom: 3px;
}
.badgedisplay {
  display: flex;
  align-items: center;
}
.badgewins {
  color: #fff;
  font-size: 10px;
  margin-left: 2px;
  margin-right: 8px;
}
.badgeRookie {
  font-size: 10px;
  color: var(--offwhite);
  background-color: rgb(9, 36, 173);
  border-radius: 8px;
  padding: 2px 5px;
  font-weight: bold;
  margin-left: 5px;
}
.badgePro {
  font-size: 10px;
  color: var(--offwhite);
  background-color: rgb(207, 82, 63);
  border-radius: 8px;
  padding: 2px 5px;
  font-weight: bold;
  margin-left: 5px;
}
.badgeLegend {
  font-size: 10px;
  color: var(--offwhite);
  background-color: rgb(147, 63, 207);
  border-radius: 8px;
  padding: 2px 5px;
  font-weight: bold;
  margin-left: 5px;
}
.badgeHOFer {
  font-size: 10px;
  color: rgb(235, 228, 228);
  background-color: rgb(190, 148, 32);
  border-radius: 8px;
  padding: 2px 5px;
  font-weight: bold;
  margin-left: 5px;
}
.table {
  /* margin-top: 50px; */
  background-color: #0f2b39;
  color: var(--offwhite);
}
.table-body {
}
.a {
  text-align: center;
  color: rgb(150, 157, 171);
}
.b {
  color: var(--offwhite);
}
.rank {
  background-color: #051720;
}
.headers {
  color: red;
}
.tr:nth-child(odd) {
  background-color: var(--navyblue);
}
.table2 {
  background-color: var(--offwhite);
  width: 100%;
}
.linktoprofile {
  text-decoration: none;
  color: rgb(163, 190, 241);
}
.linktoprofile:hover {
  color: rgb(91, 126, 192);
}
.userplusbadge {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .mainleaderboard {
    box-shadow: 0px 0px 0px #082636, 0px 0px 0px #082636;
  }
  .a {
    font-size: 12px;
    font-weight: 700;
  }
}
