.gamesfooter {
  position: fixed;
  bottom: -1%;
  background-color: var(--navyblue);
  height: 120px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px;
}
.footerh2 {
  color: var(--offwhite);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.picksubmitted {
  margin-top: 6px;
  font-weight: 700;
}

.backbar {
  width: 175px;
  height: 15px;
  border-radius: 20px;
  border: 2px solid var(--offwhite);
}
.frontbar {
  height: 100%;
  background-color: var(--offwhite);
  display: flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;

  color: var(--navyblue);
  font-size: 12px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.pickbox {
  animation: createBox 0.75s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-left: 1px solid rgba(214, 214, 214, 0.505);
  border-right: 1px solid rgba(209, 209, 209, 0.463);
  margin-left: 7px;
  background-color: var(--offwhite);
  height: 90px;
  border-radius: 3px;
}
.pickboxlocked {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-left: 1px solid rgba(214, 214, 214, 0.505);
  border-right: 1px solid rgba(209, 209, 209, 0.463);
  margin-left: 7px;
  background-color: var(--offwhite);
  height: 90px;
  border-radius: 3px;
  opacity: 0.5;
}
.lock {
  font-size: 20px;
}
.nolock {
  display: none;
}
.footerimgdivtowin {
  width: 62px;
}
.footerimgdivtolose {
  width: 25px;
  opacity: 0.8;
}
.pickedteams {
  padding-bottom: 6px;
}
.edit-pick-modal .modal-content {
  opacity: 1 !important;
}
.edit-pick-backdrop {
  opacity: 0.25 !important;
}
.pickeditbtnhouse {
  display: flex;
  width: 100%;
  justify-content: center;
}
.pickeditbtn {
  padding: 4px 52px;
  margin: 5px 3px 5px 3px;
  border: none;
  border-radius: 24px;
  background-color: var(--navyblue);
  color: var(--offwhite);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.pickeditbtn:hover {
  background-color: #123548;
  transition: 0.3s;
}
.modal-header {
  border: none;
  text-align: center;
  align-items: stretch;
}
.change-pick {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 24px;
  color: var(--navyblue);
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
  padding-top: 0px;
  padding-bottom: 45px;
}
.scrappick {
  color: rgb(224, 21, 21);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.newpick {
  color: rgb(64, 128, 46);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.clicktext {
  width: 100%;
  height: 30px;
  font-size: 12px;
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 968px) {
  .footerh2 {
    font-size: 20px;
  }
  .backbar {
    margin-top: 3px;
    width: 125px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid var(--offwhite);
  }
  .frontbar {
    border-radius: 5px;
    color: var(--navyblue);
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .mobilefooterimglose {
    display: none;
  }
  .pickbox {
    justify-content: center;
  }
  .gamesfooter {
    overflow: scroll;
    min-width: 105%;
    height: 127px;
  }
  .footerh2 {
    font-size: 18px;
    padding: 0px;
    /* margin-left: 40px; */
  }
  .backbar {
    margin-top: 3px;

    width: 75px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid var(--offwhite);
  }
  .frontbar {
    border-radius: 5px;
    color: var(--navyblue);
    font-size: 14px;
  }
  .pickedteams {
    padding: 0px;
    margin-left: 5px;
  }
}

@media (max-width: 450px) {
  .gamesfooter {
    height: 120px;
  }
  .pickedteams {
    margin-bottom: 10px;
  }
  .clicktext {
    width: 100%;
    height: 30px;
    font-size: 10px;
    margin-top: 10px;
  }
}
