.cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 100px;
}
.welcome {
  text-align: center;
  color: var(--offwhite);
}
.instructions {
  font-size: 14px;
}
.gamelist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.imgcontainer {
  width: 100px;
}
.teamlogo {
  width: 100%;
}
.radio-toolbar > input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar > label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}
.radio-toolbar > input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
.radio-toolbar > input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
.maincard {
  background-color: var(--offwhite);
  border-radius: 8px;
}
.gameinfo {
  display: flex;
  flex-direction: column;
}
.gamestatus {
  display: flex;
  justify-content: center;
  margin: 12px 0px 0px 0px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.gamescore {
  text-align: center;
  margin-bottom: 10px;
}
.tricode {
  font-size: 14px;
}
.score {
  font-size: 14px;
  font-weight: bold;
}
.gamelocation {
  font-size: 12px;
  margin-bottom: 15px;
}
.formbox {
  background-color: var(--offwhite);
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 30px;
}
.spanbar {
  width: 95%;
  border: 0.5px solid rgba(0, 0, 0, 0.193);
  margin-bottom: 20px;
}
.gamebtnhouse {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
}
.imghouse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 75px;
  pointer-events: none;
}
.gamedetails {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(201, 201, 201);
  width: 100%;
  border-radius: 0px 0px 14px 14px;
  pointer-events: none;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.cityteam {
  font-size: 18px;
}
.winloss {
  font-size: 12px;
}
.submitbtn {
  padding: 4px 52px;
  margin: 10px 0px 10px 0px;
  border: none;
  border-radius: 24px;
  background-color: var(--navyblue);
  color: var(--offwhite);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.submitbtn:hover {
  background-color: #123548;
  transition: 0.3s;
}
.submitbtn:disabled {
  display: none;
}
.picksubmitted {
  margin-top: 6px;
  font-weight: 700;
}
.hiddencarddiv {
  visibility: hidden;
  height: 100px;
}

.gamebtn:focus {
  border-style: outset;
  border: 5px solid var(--borderyellow);
}
.gamebtnATL {
  background: linear-gradient(
    45deg,
    #c8102e 26%,
    #000000 26%,
    #000000 37%,
    #fdb927 37%,
    #fdb927 74%,
    #000000 74%,
    #000000 85%,
    #c8102e 85%,
    #c8102e 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
}
.gamebtnBKN {
  background: linear-gradient(
    45deg,
    #fff 26%,
    #000 26%,
    #000 37%,
    #fff 37%,
    #fff 74%,
    #000 74%,
    #000 85%,
    #fff 85%,
    #fff 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnBOS {
  background: linear-gradient(
    45deg,
    #ffffff 26%,
    #007a33 26%,
    #007a33 37%,
    #ba9653 37%,
    #ba9653 74%,
    #007a33 74%,
    #007a33 85%,
    #ffffff 85%,
    #ffffff 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnCHA {
  background: linear-gradient(
    45deg,
    #00788c 26%,
    #1d1160 26%,
    #1d1160 37%,
    #a1a1a4 37%,
    #a1a1a4 74%,
    #1d1160 74%,
    #1d1160 85%,
    #00788c 85%,
    #00788c 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnCHI {
  background: linear-gradient(
    45deg,
    #ce1141 26%,
    #000000 26%,
    #000000 37%,
    #ffffff 37%,
    #ffffff 74%,
    #000000 74%,
    #000000 85%,
    #ce1141 85%,
    #ce1141 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnCLE {
  background: linear-gradient(
    45deg,
    #860038 26%,
    #041e42 26%,
    #041e42 37%,
    #fdbb30 37%,
    #fdbb30 74%,
    #041e42 74%,
    #041e42 85%,
    #860038 85%,
    #860038 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnDAL {
  background: linear-gradient(
    45deg,
    #00538c 26%,
    #002b5e 26%,
    #002b5e 37%,
    #b8c4ca 37%,
    #b8c4ca 74%,
    #002b5e 74%,
    #002b5e 85%,
    #00538c 85%,
    #00538c 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnDEN {
  background: linear-gradient(
    45deg,
    #8b2131 26%,
    #0e2240 26%,
    #0e2240 37%,
    #fec524 37%,
    #fec524 74%,
    #0e2240 74%,
    #0e2240 85%,
    #8b2131 85%,
    #8b2131 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnDET {
  background: linear-gradient(
    45deg,
    #1d42ba 26%,
    #c8102e 26%,
    #c8102e 37%,
    #bec0c2 37%,
    #bec0c2 74%,
    #c8102e 74%,
    #c8102e 85%,
    #1d42ba 85%,
    #1d42ba 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnGSW {
  background: linear-gradient(
    45deg,
    #ffc72c 26%,
    #1d428a 26%,
    #1d428a 37%,
    #ffffff 37%,
    #ffffff 74%,
    #1d428a 74%,
    #1d428a 85%,
    #ffc72c 85%,
    #ffc72c 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnHOU {
  background: linear-gradient(
    45deg,
    #ce1141 26%,
    #000000 26%,
    #000000 37%,
    #c4ced4 37%,
    #c4ced4 74%,
    #000000 74%,
    #000000 85%,
    #ce1141 85%,
    #ce1141 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnIND {
  background: linear-gradient(
    45deg,
    #fdbb30 26%,
    #002d62 26%,
    #002d62 37%,
    #bec0c2 37%,
    #bec0c2 74%,
    #002d62 74%,
    #002d62 85%,
    #fdbb30 85%,
    #fdbb30 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnLAC {
  background: linear-gradient(
    45deg,
    #c8102e 26%,
    #1d428a 26%,
    #1d428a 37%,
    #bec0c2 37%,
    #bec0c2 74%,
    #1d428a 74%,
    #1d428a 85%,
    #c8102e 85%,
    #c8102e 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnLAL {
  background: linear-gradient(
    45deg,
    #552583 26%,
    #000000 26%,
    #000000 37%,
    #fdb927 37%,
    #fdb927 74%,
    #000000 74%,
    #000000 85%,
    #552583 85%,
    #552583 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnMEM {
  background: linear-gradient(
    45deg,
    #5d76a9 26%,
    #12173f 26%,
    #12173f 37%,
    #f5b112 37%,
    #f5b112 74%,
    #12173f 74%,
    #12173f 85%,
    #5d76a9 85%,
    #5d76a9 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnMIA {
  background: linear-gradient(
    45deg,
    #98002e 26%,
    #000000 26%,
    #000000 37%,
    #f9a01b 37%,
    #f9a01b 74%,
    #000000 74%,
    #000000 85%,
    #98002e 85%,
    #98002e 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnMIL {
  background: linear-gradient(
    45deg,
    #0077c0 26%,
    #00471b 26%,
    #00471b 37%,
    #eee1c6 37%,
    #eee1c6 74%,
    #00471b 74%,
    #00471b 85%,
    #0077c0 85%,
    #0077c0 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnMIN {
  background: linear-gradient(
    45deg,
    #78be20 26%,
    #0c2340 26%,
    #0c2340 37%,
    #236192 37%,
    #236192 74%,
    #0c2340 74%,
    #0c2340 85%,
    #78be20 85%,
    #78be20 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnNBA {
  background: linear-gradient(
    45deg,
    #c9082a 26%,
    #17408b 26%,
    #17408b 37%,
    #ffffff 37%,
    #ffffff 74%,
    #17408b 74%,
    #17408b 85%,
    #c9082a 85%,
    #c9082a 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnNOP {
  background: linear-gradient(
    45deg,
    #c9082a 26%,
    #17408b 26%,
    #17408b 37%,
    #ffffff 37%,
    #ffffff 74%,
    #17408b 74%,
    #17408b 85%,
    #c9082a 85%,
    #c9082a 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnNYK {
  background: linear-gradient(
    45deg,
    #f58426 26%,
    #006bb6 26%,
    #006bb6 37%,
    #bec0c2 37%,
    #bec0c2 74%,
    #006bb6 74%,
    #006bb6 85%,
    #f58426 85%,
    #f58426 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnOKC {
  background: linear-gradient(
    45deg,
    #ef3b24 26%,
    #002d62 26%,
    #002d62 37%,
    #007ac1 37%,
    #007ac1 74%,
    #002d62 74%,
    #002d62 85%,
    #ef3b24 85%,
    #ef3b24 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnORL {
  background: linear-gradient(
    45deg,
    #0077c0 26%,
    #000000 26%,
    #000000 37%,
    #c4ced4 37%,
    #c4ced4 74%,
    #000000 74%,
    #000000 85%,
    #0077c0 85%,
    #0077c0 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnPHI {
  background: linear-gradient(
    45deg,
    #ed174c 26%,
    #002b5c 26%,
    #002b5c 37%,
    #006bb6 37%,
    #006bb6 74%,
    #002b5c 74%,
    #002b5c 85%,
    #ed174c 85%,
    #ed174c 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnPHX {
  background: linear-gradient(
    45deg,
    #1d1160 26%,
    #000000 26%,
    #000000 37%,
    #e56020 37%,
    #e56020 74%,
    #000000 74%,
    #000000 85%,
    #1d1160 85%,
    #1d1160 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnPOR {
  background: linear-gradient(
    45deg,
    #e03a3e 26%,
    #000000 26%,
    #000000 37%,
    #ffffff 37%,
    #ffffff 74%,
    #000000 74%,
    #000000 85%,
    #e03a3e 85%,
    #e03a3e 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnSAC {
  background: linear-gradient(
    45deg,
    #5a2d81 26%,
    #000000 26%,
    #000000 37%,
    #63727a 37%,
    #63727a 74%,
    #000000 74%,
    #000000 85%,
    #5a2d81 85%,
    #5a2d81 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnSAS {
  background: linear-gradient(
    45deg,
    #ffffff 26%,
    #000000 26%,
    #000000 37%,
    #c4ced4 37%,
    #c4ced4 74%,
    #000000 74%,
    #000000 85%,
    #ffffff 85%,
    #ffffff 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnTOR {
  background: linear-gradient(
    45deg,
    #ce1141 26%,
    #000000 26%,
    #000000 37%,
    #a1a1a4 37%,
    #a1a1a4 74%,
    #000000 74%,
    #000000 85%,
    #ce1141 85%,
    #ce1141 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnUTA {
  background: linear-gradient(
    45deg,
    #002b5c 26%,
    #00471b 26%,
    #00471b 37%,
    #f9a01b 37%,
    #f9a01b 74%,
    #00471b 74%,
    #00471b 85%,
    #002b5c 85%,
    #002b5c 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtnWAS {
  background: linear-gradient(
    45deg,
    #e31837 26%,
    #002b5c 26%,
    #002b5c 37%,
    #c4ced4 37%,
    #c4ced4 74%,
    #002b5c 74%,
    #002b5c 85%,
    #e31837 85%,
    #e31837 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 0px;
  border-radius: 20px;
  border: none;
  background-color: black;
}
.gamebtn {
  width: 500px;
  height: 140px;
}

@media (max-width: 768px) {
  .gamestatus {
    font-size: 16px;
  }
  .tricode {
    font-size: 16px;
  }
  .score {
    font-size: 18px;
    font-weight: bold;
  }
  .gamelocation {
    font-size: 16px;
  }
  .formbox {
  }
}

@media (max-width: 1205px) {
  .cards {
    margin-top: 30px;
    padding: 0px 30px;
  }
  .gamebtnhouse {
    height: 325px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .formbox {
    height: 550px;
    margin-bottom: 60px;
  }
  .gamestatus {
    margin: 0px 0px 10px 0px;
  }
  .gamelocation {
    margin-bottom: 26px;
  }
  .gamebtn {
    margin-bottom: 30px;
    width: 450px;
  }
  .submit {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 20px 30px;
  }
  .hiddencarddiv {
    display: none;
  }
  .picksubmitted {
    margin: 0px 0px 30px 0px;
  }
}
