.cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 100px;
}
/* .card {
  background-color: #fff;
} */
.gamelist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.imgcontainer {
  width: 100px;
}
.teamlogo {
  width: 100%;
}
.radio-toolbar > input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar > label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}
.radio-toolbar > input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
.radio-toolbar > input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
